* {
  margin: 0;
}
.modal-header {
  padding: 10px 15px;
}
.modal-title {
  font-size: 18px;
}
.form-control:focus {
  background-color: white;
  border-color: #706f6f;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}
